.logo {
	width: 350px;
	height: 196px;
	float: left;
}

.main-title {
	background-image: url('../images/title.png');
	width:  975px;
	height: 196px;
	float: left;
}

.logo-title {
	min-width: 1366px;
}

.wrapper {
	display: flex;
}

.aside {
	width: 350px;
	/*background-color: gray;*/
}

.page {
	width: 100%;
}

.group_color_text {
  	color: black;
  	background-color: gray;
}

.group_color_text:hover {
  	color: white;
}

.subgroup {
	background-color: #909090;
}

.page_header {
	background-color: grey;
	height: 56px;
}

.new_class {
	float: right;
}

.item {
	width: 308px;
	background-color: white;
	position: relative;
}

.item_img {

}

.item_text {
	width: 100%;
	padding: 5px;
}

.item_text a {
	color: black;
	text-decoration: none;
}

.item_text a:hover {
	color: navy;
	text-decoration: underline;
}

.text_ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item_price {
	width: 100%;
}

.price {
	font-size: 32px;
	font-weight: bold;
}

.korzinka {
	
}

.sale {
	position: absolute;
	left: 30px;
	top: 20px;
	background-color: darkred;
	color: white;
	font-weight: bold;
}

.old_price {
	font-size: 18px;
	text-decoration: line-through;
	color: grey;
	font-weight: normal;
	text-align: center;
}

.footer {
	background-color: #909090;
	height: 200px;
}

.footer_color_text {
  	color: black;
}

.footer_color_text:hover {
  	color: white;
}

.right {
    position: absolute;
    right: 1rem;
    top: 0.7rem;
}

.btn_new_products {
  	color: black;
}

.btn_new_products:hover {
  	color: white;
}

.prod_icons {
	position: absolute;
	top:  10px;
	right: 10px;
	background-color: lightblue;
	opacity: 0.7;
	border-radius: 10px;
}

.prod_color_text {
	color: black;
}

.prod_color_text:hover {
	color: darkblue;
}
