<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <script src="./js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container-fluid">
	<div class="header overflow-hidden">
		<div class="row">
			<nav class="navbar navbar-expand-sm">
			  <div class="container-fluid">
			    <div class="collapse navbar-collapse" id="mynavbar">
			      <ul class="navbar-nav me-auto">
			        <li class="nav-item">
			          <a class="nav-link" href="javascript:void(0)">Главная</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="javascript:void(0)">О магазине...</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="javascript:void(0)">Акции</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="javascript:void(0)">Корзина(0)</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="javascript:void(0)">Вход</a>
			        </li>
			      </ul>
			      <form class="d-flex">
			        <input class="form-control me-2" type="text" placeholder="Search">
			        <button class="btn btn-primary" type="button">Search</button>
			      </form>
			    </div>
			  </div>
			</nav>
		</div>
		<div class="row">
			<div class="logo-title">
				<div class="logo">
					<a href="#">
						<img src="./images/logo1.png">
					</a>
				</div>
				<div class="main-title">
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="aside">
			<nav class="navbar navbar-dark bg-dark">
			  <div class="container-fluid">
			  	<a class="navbar-brand" href="#">Каталог</a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			  </div>
			</nav>		
			<div class="collapse show" id="navbarToggleExternalContent">
			   <ul class="nav flex-column">
				  <li class="nav-item">
				    <a class="nav-link group_color_text" href="#">Группа товаров 1</a>
					   <ul class="nav flex-column">
						  <li class="nav-item">
						    <a class="nav-link group_color_text subgroup" href="#">Подгруппа 1-1</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link group_color_text subgroup" href="#">Подгруппа 1-2</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link group_color_text subgroup" href="#">Подгруппа 1-3</a>
						  </li>
						</ul>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link group_color_text" href="#">Группа товаров 2</a>
					   <ul class="nav flex-column">
						  <li class="nav-item">
						    <a class="nav-link group_color_text subgroup" href="#">Подгруппа 2-1</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link group_color_text subgroup" href="#">Подгруппа 2-2</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link group_color_text subgroup" href="#">Подгруппа 2-3</a>
						  </li>
						</ul>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link group_color_text" href="#">Группа товаров 3</a>
					   <ul class="nav flex-column">
						  <li class="nav-item">
						    <a class="nav-link group_color_text subgroup" href="#">Подгруппа 3-1</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link group_color_text subgroup" href="#">Подгруппа 3-2</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link group_color_text subgroup" href="#">Подгруппа 3-3</a>
						  </li>
						</ul>
				  </li>
				</ul>
			</div>
		</div>
		<div class="page">
			<div class="page_header">
				<div class="row">
					<div class="col">
						<h4 class="m-2">Акционные товары</h4>
					</div>
					<div class="col">
						<div class="new_class">
							<p class="m-3"><a href="#">Главная</a> / Акционные товары</p>
						</div>
					</div>
				</div>
			</div>
			<div class="page_content">
				<div class="row row-cols-auto justify-content-center">
					<div class="col p-3">
						<div class="item d-flex flex-column justify-content-start align-items-center">
							<div class="item_img">
								<img src="./images/phone01.png"/>
							</div>
							<div class="item_text p-2">
								<p>Смартфон OPPO A54 64GB, Black</p>
							</div>
							<div class="item_price pb-2 d-flex flex-row justify-content-around align-items-center">
								<div class="price">
									<span class="price">109 990т</span>
								</div>
								<div class="korzinka">
									<a href="#">
										<img src="./images/korz2.png"/>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col p-3">
						<div class="item d-flex flex-column justify-content-start align-items-center">
							<div class="item_img">
								<img src="./images/phone01.png"/>
							</div>
							<div class="item_text p-2">
								<p>Смартфон OPPO A54 64GB, Black</p>
							</div>
							<div class="item_price pb-2 d-flex flex-row justify-content-around align-items-center">
								<div class="price">
									<span class="price">109 990т</span>
								</div>
								<div class="korzinka">
									<a href="#">
										<img src="./images/korz2.png"/>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col p-3">
						<div class="item d-flex flex-column justify-content-start align-items-center">
							<div class="item_img">
								<img src="./images/phone01.png"/>
							</div>
							<div class="item_text p-2">
								<p>Смартфон OPPO A54 64GB, Black</p>
							</div>
							<div class="item_price pb-2 d-flex flex-row justify-content-around align-items-center">
								<div class="price">
									<span class="price">109 990т</span>
								</div>
								<div class="korzinka">
									<a href="#">
										<img src="./images/korz2.png"/>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col p-3">
						<div class="item d-flex flex-column justify-content-start align-items-center">
							<div class="item_img">
								<img src="./images/phone01.png"/>
							</div>
							<div class="item_text p-2">
								<p>Смартфон OPPO A54 64GB, Black</p>
							</div>
							<div class="item_price pb-2 d-flex flex-row justify-content-around align-items-center">
								<div class="price">
									<span class="price">109 990т</span>
								</div>
								<div class="korzinka">
									<a href="#">
										<img src="./images/korz2.png"/>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col p-3">
						<div class="item d-flex flex-column justify-content-start align-items-center">
							<div class="item_img">
								<img src="./images/phone01.png"/>
							</div>
							<div class="item_text p-2">
								<p>Смартфон OPPO A54 64GB, Black</p>
							</div>
							<div class="item_price pb-2 d-flex flex-row justify-content-around align-items-center">
								<div class="price">
									<span class="price">109 990т</span>
								</div>
								<div class="korzinka">
									<a href="#">
										<img src="./images/korz2.png"/>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col p-3">
						<div class="item d-flex flex-column justify-content-start align-items-center">
							<div class="item_img">
								<img src="./images/phone01.png"/>
							</div>
							<div class="item_text p-2">
								<p>Смартфон OPPO A54 64GB, Black</p>
							</div>
							<div class="item_price pb-2 d-flex flex-row justify-content-around align-items-center">
								<div class="price">
									<span class="price">109 990т</span>
								</div>
								<div class="korzinka">
									<a href="#">
										<img src="./images/korz2.png"/>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		footer
	</div>
</div>

</body>
</html>

